body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 0.9em;
	line-height: 1.5em;
}
#main_menutop {
	height: 100px;
}
#bordertop {
	height: 5px;
	background: #036ea0;
}
#menutop {
	height: 45px;
	background: #ffffff;
	color: #fff;
	box-shadow: 5px 5px 5px #bcbbbb;
}
#main {
	width: 1000px;
	margin: 0 auto;
}
#main_head {
	float: right;
	width: 100%;
}
#head {
	height: 150px;
	margin-right: 500px;
	background: #036ea0;
	color: #fff;
}
#head_picture {
	height: 140px;
	padding: 5px;
	width: 500px;
	float: right;
	margin-right: -100%;
	background: #036ea0;
	color: #fff;
}
#head h1{
	margin: 0;
	padding: 50px 15px 0;
	font-family:"Forte";
	font-size: 4em;
	font-style: italic;
}
#head h2{
	margin: 0;
	padding: 25px 15px 5px;
	font-family:"Arial";
	font-size: 1em;
	font-style: italic;
}
#menu {
	height: 35px;
	background: #2a95db;
	color: #fff;
	border-radius: 0px 0px 7px 7px;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul li a {
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 7px 30px;
	font-weight: bold;
}
#menu ul li a:hover {
	color: #fff000;
	background: #146834;
}
#maincontent {
	float: right;
	width: 100%;
}
#content {
	margin-right: 310px;
}
#noidung {
	padding: 15px;
	line-height: 1.8em;
	text-align: justify;
}
#right {
	float: right;
	margin-right: -100%;
	width: 300px;
}
#menuright {
	margin: 0;
	padding: 15px;
	line-height: 1.8em;
}
.dinhdang{
	margin: 10px auto;
	width: 100%;
	background: #eef8fb;
	border-radius: 7px;
	box-shadow: 5px 5px 20px #0a4657;
}
.dinhdang h1 {
	margin: 0;
	padding: 5px 15px;
	font-size: 1em;
	color: #fff000;
	background: #036ea0;
	border-radius: 7px 7px 0px 0px;
}
#footer {
	clear: both;
	background: #036ea0;
	color: white;
	padding: 40px;
	text-align: center;
}
#footer h1 {
	margin: 0;
	padding: 0px;
	font-family:"Arial";
	font-size: 1em;
}
#footer h2 {
	margin: 0;
	padding: 1px;
	font-family:"Arial";
	font-size: 1.5em;
}
#footer h3 {
	margin: 0;
	padding: 1px;
	font-family:"Arial";
	font-size: 1em;
}
#footer h4 {
	margin: 0;
	padding: 1px;
	font-family:"Arial";
	font-size: 1em;
}
#footer h5 {
	margin: 0;
	padding: 1px;
	font-family:"Arial";
	font-size: 1em;
}